<h1>Email Statistics</h1>

<h2>Totals</h2>
<ul>
<li>Emails sent: <%= @email_events.event_total('send')%></li>
<li>Emails opened: <%= @email_events.event_total('open')%></li>
<li>Emails clicked: <%= @email_events.event_total('click')%></li>
</ul>

<h2>Open Rates</h2>
<ul>
<% @email_events.email_type.each do |email_type| %>
  <li>Open rate for <%= email_type %> emails: <%= @email_events.event_rate_by_type(email_type:"#{email_type}", event: 'open') %>%</li>
<% end %>
</ul>

<h2>Click Rates</h2>
<ul>
<% @email_events.email_type.each do |email_type| %>
  <li>Click rate for <%= email_type %> emails: <%= @email_events.event_rate_by_type(email_type:"#{email_type}", event: 'click') %>%</li>
<% end %>
</ul>
